.venv
venv
env
.git
.gitignore
README.md
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.sample
*.pyc
__pycache__
*.log
.local
.coverage
htmlcov
.pytest_cache
.mypy_cache
*.db
db.sqlite3
media
staticfiles