# Django settings
DJANGO_SECRET_KEY=
DEBUG=
DJANGO_ALLOWED_HOSTS=


# Database settings (PostgreSQL)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=


# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
ADMIN_EMAIL=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
